# Ignore docs site
/_site
/docs/_data/unstable
/docs/.jekyll-metadata
/node_modules
/dev/.jekyll-cache

# Ignore bundler config.
/dev/.bundle

# Ignore all environment files (except templates).
/dev/.env*
!/dev/.env*.erb

# Ignore all environment-specific local overrides
/dev/.env.development.local
/dev/.env.test.local

# Ignore all logfiles and tempfiles.
/dev/log/*
/dev/tmp/*

# Ignore pidfiles, but keep the directory.
/dev/tmp/pids/*

# Ignore storage (uploaded files in development and any SQLite databases).
/dev/storage/*
/dev/tmp/storage/*

# Ignore master key for decrypting credentials and more.
/dev/config/master.key

# Ignore build manifests
/dev/*.b3
/dev/*.b3.sig

# Ignore local scripts folder and its contents
/dev/local_scripts

# Ignore exports folder and its contents
/dev/exports
