# Ignore generated schema data files to validate against
schema/attributes_data.cue
schema/categories_data.cue
schema/mappings_data.cue

# Ignore docs site
/_site
/docs/_data/unstable

# Ignore bundler config.
/.bundle

# Ignore all environment files (except templates).
/.env*
!/.env*.erb

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*

# Ignore pidfiles, but keep the directory.
/tmp/pids/*

# Ignore storage (uploaded files in development and any SQLite databases).
/storage/*
/tmp/storage/*

# Ignore master key for decrypting credentials and more.
/config/master.key
