# generated schema data files to validate against
schema/attributes_data.cue
schema/categories_data.cue

# docs site
/_site
/docs/_data/unstable

# dev files
/tmp/*
.byebug_history

# generated dist files
/dist/*
!/dist/README.md
!/dist/img/
