:root {
  --border-color: #c7c7c7;
  --border: 1px solid var(--border-color);
  --text-color: rgba(48, 48, 48, 1);
  --inverse-text-color: rgba(255, 255, 255, 1);
  --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

body {
  margin: 2rem;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "San Francisco",
    "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: var(--text-color);
}

p {
  max-width: 1000px;
}

a {
  color: rgba(0, 91, 211, 1);
}

a:hover {
  color: rgba(0, 66, 153, 1);
}

a:active {
  color: rgba(0, 46, 106, 1);
}

.header-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  padding-left: 0;
  margin-left: 0;
}

.header-links li {
  list-style-type: none;
  margin: 0 0.5rem;
}

.header-links li:first-child {
  margin-left: 0;
}

.page-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 100vh;
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: 1rem;
  overflow: hidden;
}

.header-container {
  padding: 1rem;
  border-bottom: var(--border);
  width: 100%;
}

.header-container h1 {
  margin-bottom: 0;
}

.content-container.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  max-height: calc(100vh - 350px);
  border-top: none;
  width: 100%;
  padding: 1rem;
  margin-bottom: -2rem;
}

.primary-container {
  flex-basis: 70%;
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 2rem;
}

.secondary-container {
  border-left: var(--border);
  flex-basis: 30%;
  display: none;
  margin-top: -1rem;
  margin-right: -1rem;
}

.secondary-container.active {
  display: block;
  height: 100%;
  overflow: hidden;
}

.category-container {
  display: none;
  margin-bottom: 1rem;
  padding: 1rem;
  border-bottom: var(--border);
  min-height: 100px;
}

.category-container li {
  list-style-type: none;
  margin: 0.25rem 0;
}

.category-container.active {
  display: block;
}

.category-search-container {
  position: relative;
}

.category-search-container ul {
  display: none;
  background: white;
  position: absolute;
  top: 100%;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.25rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.category-search-container li {
  padding: 0.25rem 0.5rem;
}

.category-search-container a {
  text-decoration: none;
}

.category-search-container a:hover {
  text-decoration: underline;
}

.category-search-container input {
  padding: 0.25rem 0.5rem;
  border: var(--border);
  border-radius: 0.25rem;
}

.title {
  display: flex;
  align-items: center;
}

.id {
  font-size: 10px;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Consolas,
    "Liberation Mono", Menlo, monospace;
  margin-bottom: 0.5rem;
  color: rgba(0, 58, 90, 1);
  background-color: rgba(234, 244, 255, 1);
  padding: 0.2rem;
  margin: 0.15rem;
  border-radius: 0.25rem;
}

.id--large {
  font-size: 12px;
  margin-right: 0.25rem;
  margin-left: 0;
}

.attributes-container {
  overflow-y: auto;
  max-height: calc(100% - 100px - 5rem);
  padding: 1rem;
  padding-top: 0;
}

.attribute-container {
  display: none;
}

.attribute-container.active {
  display: block;
}

.attribute-container.selected .values-container {
  display: block;
}

.attribute-container .attribute-title {
  cursor: pointer;
  margin: 0.5rem 0 0;
}

.attribute-container .arrow {
  margin-left: 0.25rem;
}

.attribute-container .right-arrow {
  display: inline-block;
}

.attribute-container .down-arrow {
  display: none;
}

.attribute-container.selected .down-arrow {
  display: inline-block;
}

.attribute-container.selected .right-arrow {
  display: none;
}

.values-container {
  display: none;
}

.values-container ul {
  padding-inline-start: 20px;
  margin-top: 0;
}

.values-container li {
  list-style-type: circle;
  margin: 0.25rem 0;
}

.sibling-list {
  display: none;
  margin-left: 0.25rem;
}

.sibling-list.root,
.sibling-list.expanded {
  display: block;
}

.sibling-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.accordion-item {
  padding: 0.125rem 0.375rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
  background-color: rgba(241, 241, 241, 1);
  cursor: pointer;
  transition: background-color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.accordion-item.selected {
  background-color: var(--text-color);
  color: var(--inverse-text-color);
}

.accordion-item:hover,
.accordion-item:active {
  background-color: rgba(26, 26, 26, 1);
  color: var(--inverse-text-color);
}

.accordion-content {
  display: none;
  flex-direction: column;
}
