:root {
  --border-color: #c7c7c7;
  --border: 1px solid var(--border-color);
  --text-color: rgba(48, 48, 48, 1);
  --text-color-secondary: rgba(147, 147, 147, 1);
  --inverse-text-color: rgba(255, 255, 255, 1);
  --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  --border-radius: 0.25rem;
}

body {
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'San Francisco',
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    sans-serif;
  font-size: 13px;
  color: var(--text-color);
}

a {
  color: rgba(0, 91, 211, 1);
}

a:hover {
  color: rgba(0, 66, 153, 1);
}

a:active {
  color: rgba(0, 46, 106, 1);
}

.header-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  padding-left: 0;
  margin-left: 0;
}

.header-links__li {
  list-style-type: none;
  margin: 0 0.5rem;
}

.header-links__li--first-child {
  margin-left: 0;
}

.header-container {
  contain: layout;
  padding: 1rem;
  border-bottom: var(--border);
}

.header-container h1 {
  margin-bottom: 0;
}

.content-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  width: 100%;
}

.column {
  contain: layout;
  padding: 1rem;
}

.column--taxonomy {
  grid-row: span 3;
}

.box {
  margin-bottom: 1rem;
  padding: 0 1rem 1rem 1rem;
  border: var(--border);
  border-radius: var(--border-radius);
}

.id {
  font-size: 12px;
  font-weight: 400;
  font-family: ui-monospace, SFMono-Regular, 'SF Mono', Consolas,
    'Liberation Mono', Menlo, monospace;
  width: fit-content;
  margin-bottom: 0.5rem;
  color: rgba(0, 58, 90, 1);
  background-color: rgba(234, 244, 255, 1);
  padding: 0.2rem;
  margin: 0.15rem;
  border-radius: 0.25rem;
}

.search-container {
  contain: layout;
  position: relative;
  z-index: 2;
}

.search-container__ul {
  display: none;
  background: white;
  position: absolute;
  top: 100%;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.25rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.search-container li {
  padding: 0.25rem 0.5rem;
}

.search-container a {
  text-decoration: none;
}

.search-container a:hover {
  text-decoration: underline;
}

.search-container__input {
  min-width: 200px;
  padding: 0.25rem 0.5rem;
  border: var(--border);
  border-radius: var(--border-radius);
}

.selected-category-wrapper {
  contain: content;
}

.selected-category--id {
  margin-left: 0;
}

.values-wrapper {
  contain: content;
}

.values-container {
  display: none;
}

.values-container--box {
  contain: content;
  box-sizing: border-box;
  border-left: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);
  margin-bottom: 1rem;
}

.values-container__list {
  padding-inline-start: 20px;
  margin-top: 0;
}

.values-container__list--box {
  padding: 0.75rem;
  padding-top: 0;
  margin-bottom: 0;
}

.values-container__list-item {
  list-style-type: circle;
  margin: 0.75rem 0;
}

.values-container__list-item-content {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.value-title {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  cursor: pointer;
  margin: 0 0 1rem;
}

.value-title__text {
  white-space: nowrap;
}

.value-title__text--subdued {
  font-weight: 400;
}

.value-title--box {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0 0;
  border: var(--border);
  border-radius: var(--border-radius);
  text-transform: capitalize;
}

.value-container.selected .value-title--box {
  background-color: var(--text-color);
  color: var(--inverse-text-color);
  border: unset;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}

.value-container.selected .value-title {
  margin-bottom: 0;
}

.value-container.selected .values-container {
  display: block;
}

.value-container__id {
  display: flex;
  align-items: center;
}

.chevron::before {
  display: inline-block;
  margin-left: 0.25rem;
  transform: rotate(90deg);
  content: '\276F';
}

.value-container.selected .chevron::before {
  transform: rotate(-90deg);
}

.mapped-category__id {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.mapped-category__title {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0.2rem;
}

.mapped-category__version {
  margin-bottom: 1em;
  color: var(--text-color-secondary);
}

.category-level {
  margin-left: 0.25rem;
}

.category-level.root {
  display: block;
}

.category-level__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.category-node {
  padding: 0.125rem 0.375rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
  background-color: rgba(241, 241, 241, 1);
  cursor: pointer;
}

.category-node.selected {
  background-color: var(--text-color);
  color: var(--inverse-text-color);
}

.category-node:hover,
.category-node:active {
  background-color: rgba(26, 26, 26, 1);
  color: var(--inverse-text-color);
}

@media all and (min-width: 1040px) {
  .content-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .attribute-container {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
  }
  .return-reason-container {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
  }
}
.attribute-search-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1rem;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
