name: Publish Gem

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'dev/lib/product_taxonomy/version.rb'

jobs:
  publish:
    name: Build and Publish
    runs-on: ubuntu-latest
    environment: release

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: main

      - uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25 # v1.267.0
        with:
          working-directory: dev
          bundler-cache: true

      - name: Configure RubyGems credentials
        uses: rubygems/configure-rubygems-credentials@v1.0.0

      - name: Build and publish gem
        working-directory: dev
        run: |
          gem build shopify_product_taxonomy.gemspec
          gem push shopify_product_taxonomy-*.gem
