name: Verify output and test

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened, target]

jobs:
  test:
    strategy:
      fail-fast: true
      matrix:
        test: [test_unit, test_integration, vet_schema]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        working-directory: ${{ matrix.test == 'test_integration' && 'dev' || '.' }}
    - uses: cue-lang/setup-cue@v1.0.0
      with:
        version: 'v0.7.0'
    - name: Run tests
      working-directory: ${{ matrix.test == 'test_integration' && 'dev' || '.' }}
      run: |
        if [ "${{ matrix.test }}" = "test_integration" ]; then
          bundle exec rake integration
        else
          VERBOSE=1 make --file=Makefile ${{ matrix.test }}
        fi
